body {
	padding: 0;
	
}

div.container{
	padding: 10px;
	margin: 0;
	width: 100%;
	background-color: #ccc;
	position: relative;
	min-height: 600px;
	height: auto;
}
header h1{
	margin-left: 32px;
	height: 32px;
	margin-top: 32px;
	margin-bottom: 32px;
}
nav{

}
nav.navigation{
	background-color: rgba(0,0,0,0.5);
	width: 100% !important;
	padding: 20px !important;
	margin: 0 !important;
}
input.form-control{
	background-color: #b3b3b3;
	margin: 5px;

}
input[type="text"]:focus, input[type="email"]:focus {
  background-color : #ccc; 
}

input[type="text"], input[type="email"] {
  background-color : #fff; 
  height: 40px;
}
.table-responsive{
	width: 100%;
}
table.table{
	background-color: white;
	width: 95%;
	margin: 0 auto;
}
#table{
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
}
tbody>span{
	padding-left: 5px;
}

#form{
	background-color: rgba(0,0,0,0.2);
	padding: 20px;
	margin: 0 auto;
	width: 95%;
}
span.edit-user{
	float: right;
	padding-right: 20px;
}
td.active{
	background-color: red;
}
tbody{
	width: 100%;
}





